.pizza {
  display: flex;
  justify-content: center;
  width: 20vw;
  height: auto;
  margin: auto;
}

.card {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: .5vw 0 30% 0;
  width: 100%;
  flex-direction: column;
  border: 1px solid #dbdbdb;
  & hr {
    margin: auto;
    width: 90%;
  }
  & .price {
    margin: 1vw auto 1vw auto;
  }
  & .buttons {
    justify-content: space-between;
    & button {
      margin: .8vw 3.8vw 1.5vw 3.8vw;
      padding: .5vw;
      border: none;
      background-color: #212121;
      cursor: pointer;
    }
  }
}

